@font-face {
    font-family: "DP Clear Medium";
    src: url("//db.onlinewebfonts.com/t/8474cf260748a8894383fab045b17e92.eot");
    src: url("//db.onlinewebfonts.com/t/8474cf260748a8894383fab045b17e92.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8474cf260748a8894383fab045b17e92.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8474cf260748a8894383fab045b17e92.woff") format("woff"), url("//db.onlinewebfonts.com/t/8474cf260748a8894383fab045b17e92.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8474cf260748a8894383fab045b17e92.svg#DP Clear Medium") format("svg");
 }

body{
    margin: 0;
}

.wrapper{
    height: calc(100vh - 68px);
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 10px;
}

.container{
    position: relative;
    width: 100vw;
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transform-style: preserve-3d;
}

.background-image{
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
    bottom: 0px;
    transform: translateZ(-2px) scale(1.5);
    z-index: 1;
    object-fit: cover;
}

.head-text{
    position: absolute;
    bottom: 60;
    font-size: 65px;
    line-height: 95%;
    color: white;
    font-family: DP Clear Medium;
    font-weight: 500;
    transform: translateZ(-0.25px) scale(1);
    z-index: 2;
}

.header-container{
    position: relative;
    width: 100%;
    height: calc(100vh - 68px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-container img{
    width: 100%;
    height: calc(100vh - 68px);
    object-fit: cover;
}

.header-container h1{
    position: absolute;
    z-index: 3;
    bottom: 36px;
    left: 50%;
    transform: translate(-50%);
    font-size: 65px;
    line-height: 95%;
    color: white;
    font-family: DP Clear Medium;
    font-weight: 500;
}