@font-face {
    font-family: "DP Clear Medium";
    src: url("//db.onlinewebfonts.com/t/8474cf260748a8894383fab045b17e92.eot");
    src: url("//db.onlinewebfonts.com/t/8474cf260748a8894383fab045b17e92.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8474cf260748a8894383fab045b17e92.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8474cf260748a8894383fab045b17e92.woff") format("woff"), url("//db.onlinewebfonts.com/t/8474cf260748a8894383fab045b17e92.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8474cf260748a8894383fab045b17e92.svg#DP Clear Medium") format("svg");
 }

 @font-face {
    font-family: "DP Clear"; src: url("//db.onlinewebfonts.com/t/2c37ea091f38e60804add093de642837.eot");
    src: url("//db.onlinewebfonts.com/t/2c37ea091f38e60804add093de642837.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2c37ea091f38e60804add093de642837.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2c37ea091f38e60804add093de642837.woff") format("woff"), url("//db.onlinewebfonts.com/t/2c37ea091f38e60804add093de642837.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2c37ea091f38e60804add093de642837.svg#DP Clear") format("svg"); 
}

 p{
    font-family: 'DP Clear';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #1C201E;
    height: min-content;
    margin: 0;
 }

 h6{
    font-family: 'DP Clear Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    /* or 23px */
    
    letter-spacing: -0.01em;
    
    /* Black/Black-700 */
    
    color: #1C201E;
    margin: 0;
 }

 h4{
    font-family: 'DP Clear Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: #1C201E;
    margin: 0;
 }

.small-match{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 6px 16px;
    background-color: #FFF;
    min-width: 212px;
    box-shadow: 0px -5.43109px 46.7909px rgba(0, 0, 0, 0.0934511), 0px -2.90372px 25.0167px rgba(0, 0, 0, 0.0774939), 0px -1.6278px 14.0241px rgba(0, 0, 0, 0.065), 0px -0.864513px 7.44811px rgba(0, 0, 0, 0.0525061), 0px -0.359743px 3.09933px rgba(0, 0, 0, 0.0365489);
    border-radius: 8px;
}

.date-time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.date{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #565C59;
}

.time{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #1C201E;
    text-align: right;
}

.date-time-big{
    width: 100px;
}

.teams{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.team{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
    height: 42px;
}

.team img{
    width: 42px;
    height: 42px;
}

.location{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 5px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.upcoming-matches-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px 40px;
    gap: 20px;
    position: absolute;
    width: max-content;
    width: calc(100vw - 80px);
    overflow: scroll;

    position: absolute;
    top: calc(100vh - 60px);
    left: 0px;

    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.upcoming-matches-container::-webkit-scrollbar {
    display: none;
  }

.medium-match{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 12px;

    width: calc(50vw - 82px);

    background: #Fff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.teams-medium{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 28px;
}

.team-medium{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
}

.team-medium img{
    width: 42px;
    height: 42px;
}

.next-last-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: calc(100vw - 80px);
    left: 40px;
}

.next-last{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.result-wrapper{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.score{
    padding: 6px;
    font-family: 'DP Clear Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #F7F8F7;
    border-radius: 6px;
    background: #919392;
}



.penalty{
    padding: 2px 6px;
    font-family: 'DP Clear Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #F7F8F7;
    border-radius: 6px;
    background: #919392;
}

.winner{
    background: #565C59;
}

.big-match{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 20px 16px;
    background: #FFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.teams-big{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 32px);
}

.teams-big-inner{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
