.nav-container{
    padding: 8px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;
    background-color: #F7F8F7;;
}

.links-container{
    width: calc(50% - 50px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logos-container{
    width: calc((50% - 50px)/3 - 10px);
}

.logos-container img{
    width: 100%;
}