.team-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: calc(50vw - 50px);
}

.team-title{
    width: 670px;
    height: 35px;
    font-family: 'DP Clear Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 115%;
    letter-spacing: -0.02em;
    color: #111312;
    margin: 0;
    padding: 0;
    width: fit-content;
}

.team-img{
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}