.news-panel-container{
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.news-panel-buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-panel-button{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.news-panel-button img{
    width: 24px;
    height: 24px;
}

.news-panel-button a{
    font-family: 'DP Clear Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -0.01em;
}

.delete a{
    color: #BD1A1A;
}