@font-face {
    font-family: "DP Clear"; src: url("//db.onlinewebfonts.com/t/2c37ea091f38e60804add093de642837.eot");
    src: url("//db.onlinewebfonts.com/t/2c37ea091f38e60804add093de642837.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2c37ea091f38e60804add093de642837.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2c37ea091f38e60804add093de642837.woff") format("woff"), url("//db.onlinewebfonts.com/t/2c37ea091f38e60804add093de642837.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2c37ea091f38e60804add093de642837.svg#DP Clear") format("svg"); 
}


*{
    margin: 0;
    padding: 0;
}

.news-head-small{
    width: calc(67vw - 60px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.news-head-small img{
    width: 100%;
    aspect-ratio: 16 / 9;
}

.news-head-small h2{
    font-family: 'DP Clear Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 105%;
    letter-spacing: -0.03em;
    color: #111312;
}

.news-head-small p{
    font-family: 'DP Clear';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    letter-spacing: -0.01em;
    /* Black/Black-500 */
    color: #565C59;
}

.listed-small{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: calc(33vw - 40px);
}

.listed-small-inner{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.listed-small-inner h6{
    font-family: 'DP Clear Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    /* or 23px */
    letter-spacing: -0.01em;
    /* Black/Black-700 */
    color: #1C201E;
}

.icon{
    width: 9px;
    height: 23px;
}

.news-image{
    width: 40%;
}

.underline{
    width: 100%;
    height: 1px;
    background-color: #BFBFBF;
}

.list-small-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.listed-news{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-page-news{
    width: calc(100% -80px);
    padding: 40px;
    background-color: #E3E3E3;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.news-head-big{
    display: flex;
    flex-direction: row;
    width: calc(100vw - 80px);
    margin: 0px 40px;
    gap: 20px;
}

.news-head-big img{
    width: calc(67vw - 7px);
    aspect-ratio: 16/9;
    object-fit: cover;
}

.news-head-big-inner{
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: calc(33vw - 13px);
}

.news-head-big-inner h2{
    font-family: 'DP Clear Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 105%;
    /* or 42px */

    letter-spacing: -0.03em;

    /* Black/Black-900 */

    color: #111312;
}

.news-head-big-inner p{
    font-family: 'DP Clear';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */

    letter-spacing: -0.01em;

    /* Black/Black-500 */

    color: #565C59;
}