.team-content-container{
    position: absolute;
    top: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.team-wrapper{
    display: flex;
    flex-direction: column;
}

.container{
    margin-top: 63px;
    display: flex;
    flex-direction: column;
}